*{
margin: 0px;
padding: 0px;
transition: 300ms ease-in-out;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




.header {
    width: 100%;
    min-height: 115vh;
    background: var(--background);
    overflow-x: hidden;
}

.bounce_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 10px;
}

.bounce1 {
    position: absolute;
    top: 200px;
    left: -80px;
    border-radius: 30% 70% 75% 25% / 34% 26% 74% 66% ;
    width: 500px;
    height: 500px;
    background: rgb(80,29,171);
    background: var(--bubble)
}

.bounce2 {
    position: absolute;
    right: -370px;
    top: -375px;
    border-radius: 900px 900px 900px 900px;
    width: 900px;
    height: 900px;
    background: rgb(80,29,171);
background: var(--bubble);
z-index: 1;
}

.header-info {
    width: 85%;
    height: 550px;
    z-index: 200;
    border-radius: 25px 25px 25px 25px;
    background-image: url('../../../public/img/background.jpg');
    position: relative;
    margin: 0px auto;
    margin-top: 40px;
    animation: fadeIn 2s;
}

.about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.MyPhoto {
    width: 405px;
    height: 405px;
    overflow: hidden; 
    border-radius: 50%;
    background: var(--person_bckg);
    margin-left: 10px;
    box-shadow: 14px 13px 42px -4px rgba(255, 255, 255, 0.356);
    border: 5px solid var(--border_photo);
    transition: 600ms;
   
}

.slika {
    width: 325px;
    background-size: 100%;
    transition: 300ms;
    
}

.MyPhoto:hover {
  background: var(--person_hover);
  transition: 600ms !important;
}

.MyPhoto:hover .slika {
  width: 300px;
  transition: 300ms;
  background-size: 100%;
}



.hover_me {
    color: white;
    width: 50%;
    position: relative;
}




.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myName {
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}


  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .card{
    width: 300px;
    height: 300px;
    margin: 0px auto;
    border: 1px dashed var(--card_border);
    background-color: rgba(32, 32, 32, 0.452);
   
  }
  .front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .4s linear;
  }

  .text p {
      font-size: 30px;
  }

  .text span {
      font-size: 15px;
      font-style: italic;
  }
 
  .front{
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: rgba(0, 0, 0, 0.425);
    transform: perspective(600px) rotateY(0deg) ;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    cursor: pointer;
  }

   
  
  .back{
    background-color: rgba(0, 0, 0, 0.425);
    transform: perspective(600px) rotateY(180deg);
    cursor: pointer;
  }
  .back-content{
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    
  }
 
  
 
  .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }
  

.themes {
    color: wheat;
    display: flex;
    justify-content: end;
    padding: 0px 20px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.themes div {
    cursor: pointer;
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
}

.dark {
  background-color: black;
  background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 100%);
  transition: 300ms;  
}


.white {
  background: rgb(251,251,251);
background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(37,37,37,1) 100%);
  transition: 300ms;
}

.blue {
  background: rgb(27,50,77);
background: radial-gradient(circle, rgba(27,50,77,1) 0%, rgba(37,37,37,1) 100%);
  transition: 300ms;
}

.dark:hover {
  background-color: rgb(17, 17, 17);
  border-radius: 3px;
  transition: 300ms;
}

.white:hover {
  background-color: #c7c4c4;
  border-radius: 3px;
  transition: 300ms;
}

.blue:hover {
  background-color: rgb(34, 65, 100);
  transition: 300ms;
  border-radius: 3px;
}


@media only screen and (max-width: 1039px) {
  .about {
    justify-content: space-evenly;
  }
  .MyPhoto:hover .slika {
    width: 190px;
    transition: 300ms;
    background-size: 100%;
  }
 

 .MyPhoto {
   width: 250px;
   height: 250px;
    
 }

 .slika {
   width: 200px;

 }
 .card {
   width: 250px;
   height: 250px;
  
 }

 .back-content {
   font-size: 10px;

 }

 .myName {
   min-height: 150px;
   padding: 0px 10px;
 }

 
}


@media only screen and (max-width:718px) {
  .about {
    display: block;
  }

  .MyPhoto {
    margin: 0px auto;
  }

  .header-info {
    height: 800px;
  }

  .hover_me {
    margin: 0px auto;
    margin-top: 170px;
  }
}

@media only screen and (max-width: 516px) {
  .header-info {
    width: 100%;
  margin: 0px;
  border-radius: 0px;
  }
}